body{
    background-color: rgb(221, 233, 231);
}

.nav1{
    display: flex;
    list-style-type: none;
    justify-content: right;
}

.nav1 a{
    padding-right: 20px;
}

.cert{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 50px;
}

img{
    width: 200px;
    height: 200px;
    margin-left: 560px;
    margin-top: 30px;
}

.t1{
   margin-left: 560px; 
   margin-top: 20px;
}

.t1 input[type="submit"]
{
    background-color: rgb(43, 178, 219);
    border-style: hidden;
    height: 25px;
}