.pagestyle{
    width: 32%;
    border-left: 1px solid;
    padding-left: 10px;
    float: left;
    height: 300px;
}

@media only screen and (max-width:600px) {
    .pagestyle{
        width: 100%;
    }

    .pagestyle img{
        width: 200px;
        height: 100px;
    }

    .text1{
        font-size: 30px;
    } 
}

/* img{
    padding-left: 10px;
} */