.header{
    background-color: rgb(216, 210, 221);
    justify-content: space-between;
    align-items: center;
    display: flex;
}

img{
    width: 50px;
    height: 50px;
}

.nav1{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav1 a{
    text-decoration: none;
    margin-right: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:darkmagenta;
    font-size: small;
}

.cnt{
    text-align: center;
   margin-top: 70px;
}

.cnt h4{
    color: rgb(183, 175, 192);
    font-size: small;
}

.cnt p{
    color: rgb(79, 74, 85);
    font-size: small;
}   

.cntdet{
    width: 32%;
    /* border-left: 1px solid; */
    padding-left: 10px;
    float: left;
    height: 300px;
    margin-top: 60px;
    /* display: flex;
    justify-items: center; */
    
}

.custom-icon {
    background-color: #f0f0f0;  /* Change to desired background color */
    display: inline-block;      /* Treat the icon as a block */
    width: 40px;                /* Adjust width */
    height: 40px;               /* Adjust height */
    text-align: center;         /* Center the icon horizontally */
    line-height:40px;          /* Center the icon vertically */
    border-radius: 30px;         /* Optional: add border radius */
    color: rgb(98, 19, 194);
    margin-left: 180px;
}

.cntdet h4{
    margin-left: 180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: small;
}

.cntdet p:nth-of-type(1){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(80, 68, 94);
    text-align: center;
}

.cntdet p:nth-of-type(2){
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    color: rgb(80, 68, 94);
    text-align: center;
}